<div class="loginField">
    <div class="warning" #warning>
    <input type="text" id="" #usernameOrEmail class="loginFields" placeholder="username or email">
    <input type="password" id="password" #password class="loginFields" placeholder="password">
    <button type="submit" (click)="login()" class="loginSignupBtns">login</button>
        <div id="getAlertMsg" #getAlertMsg>

        </div>
    </div>
    
    <div class="signupSpotContainer">
        <div class="triangles">
      
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
                <div class="bubbles"></div>
        </div>
        
        <div class="signupSpot">
            <input type="text" id="usernameSignUp" #usernameSignUp class="loginFields" placeholder="username">
            <input type="text" id="emailSignUp" #emailSignUp class="loginFields" placeholder="email">
            <input type="password" id="passwordSignUp" #passwordSignUp class="loginFields" placeholder="password">
            <input type="password" id="passwordCheckSignUp" #passwordCheckSignUp class="loginFields" placeholder="password again">
            <button type="button" (click)="signUp()" class="loginSignupBtns">Signup</button>
            <div id="getAlertMsgSignUp" #getAlertMsgSignUp>

            </div>
        </div>
    </div>
</div>

