
<div class="header">
  <div *ngIf="message">
    <a routerLink="bubbles" class="button" routerLinkActive="active">Bubbles</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Journal</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Reminders</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Toolkit</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Reflections</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Meditation</a>
    <a routerLink="videoSelection" class="button" routerLinkActive="active">Reflections</a>
    <a routerLink="questions" class="button" routerLinkActive="active">Questions & Weely Challenges</a>
    <a routerLink="articles" class="logout" routerLinkActive="active">Articles</a>
    <a routerLink="login" class="logout" routerLinkActive="active" (click)="logout($event)">{{message}}</a>
    <a routerLink="videoSelection" class="logout" routerLinkActive="active">{{user}}</a>
  </div>
</div>

<div id="outlet">
  <router-outlet></router-outlet>
</div>


