<div class="flex-container">
    <a routerLink="/serenitybubble" class="bubble x1" routerLinkActive="active">Serenity</a>
    <a routerLink="/control" class="bubble x2" routerLinkActive="active">Control-self protection</a>
    <a routerLink="/control" class="bubble x3" routerLinkActive="active">Neutral self regulate</a>
    <a routerLink="/bf" class="bubble x4" routerLinkActive="active">Social best freind</a>
    <a routerLink="/whoareyou" class="bubble x5" routerLinkActive="active">Who are you</a>
    <a routerLink="/thought" class="bubble x6" routerLinkActive="active">Thought</a>
    <a routerLink="/fifty" class="bubble x7" routerLinkActive="active">50/50</a>
    <a routerLink="/onethird" class="bubble x8" routerLinkActive="active">1/3</a>
</div>